footer {
    background-color: $color-principal;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 30px;
    margin-top: 20px;

    .texto {
        h3 {
            color: $color-secundario;
            font-size: 22px;
        }

        p {
            color: $color-secundario;
            font-size: 12px;
            margin-top: 15px;
        }
    }

    .enlaces {
        h3 {
            color: $color-terciario;
            font-size: 22px;
        }

        a {
            display: block;
            text-decoration: none;
            color: $color-secundario;
            font-size: 12px;
            margin-bottom: 8px;
        }
    }

    .info {
        h3 {
            font-size: 22px;
            color: $color-terciario;
        }

        p {
            color: $color-secundario;
            font-size: 12px;
            margin: 0%;
        }
    }

    .logos {
        justify-items: center;
        h3 {
            color: $color-terciario;
            font-size: 22px;
        }
        a{
            text-decoration: none;
            img{
                width: 30px;
                margin: 30px;
            }
        }
    }
}