footer {
    margin: 25px;
    text-align: center;

    p {
        text-align: center;
        font-size: 25px;
    }

    a {
        margin: 4px;

        img {
            width: 30px;
        }
    }
}
