header {
  background-color: $color-principal;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 35px;
  position: sticky;

  a {
    text-decoration: none;
    color: $color-secundario;
  }

  nav.navbar {
    background-color: $color-principal !important;
  }
}
