// FUNCIONALIDADES 
$color-principal: #f9ebea;
// TITULOS Y DESCRIPSION PRODUC Y COMPRAR 
$color-secundario: black;
// FOOTER ENLACE, CONTACTO Y SEGUINOS 
$color-terciario: #641e16;
// TITULOS/PARRAFOS DENTRO DE IMG
$color-cuaternario: white;
// BOTONES HOVER 
$color-quintuple: #7b4f3dd8;

